<ion-content style="background: #f9f6f6">

  <div class="title">
    Calendario
    <small>{{thisDateTitle}}</small>
  </div>

  <ng-template #template let-showEventDetail="showEventDetail" let-selectedDate="selectedDate"
    let-noEventsLabel="noEventsLabel">
    <ion-list class="clases">
      <h5 class="noEvents" *ngIf="selectedDate.events.length == 0 && findes == false">
        <img src="../../../assets/images/noclase.jpg" alt="" />
      </h5>

      <br>
      <ion-grid>
        <ion-row class="materia" [ngStyle]="{'background': event.color}" (click)="goToPage(event)"
          *ngFor="let event of selectedDate.events">
          <ion-col size="2" class="info">
            {{event.aula}}
            <br>
            {{event.tipo}}.{{event.group}}
          </ion-col>
          <ion-col class="nombre" size="10">
            <small><strong>De {{event.startTimeString}} a {{event.endTimeString}}</strong></small> <br />
            {{event.title}}
            <ion-icon class="ion-float-right" name="arrow-forward"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>
  </ng-template>

  <calendar [markDisabled]="markDisabled" [monthviewEventDetailTemplate]="template" [eventSource]="eventSource"
    [formatHourColumn]="calendar.formatHourColumn" [startHour]="9" [calendarMode]="calendar.mode"
    [currentDate]="calendar.currentDate" (onCurrentDateChanged)="onCurrentDateChanged($event)"
    [startingDayMonth]="calendar.startingDayMonth" [startingDayWeek]="calendar.startingDayWeek"
    [formatDayHeader]="calendar.formatDayHeader" (onEventSelected)="onEventSelected($event)"
    (onTitleChanged)="onViewTitleChanged($event)" (onTimeSelected)="onTimeSelected($event)" step="30">
  </calendar>

</ion-content>