ion-select {
  width: 100%;
  max-width: 100%;
  text-align: center;
  font-size: 13px;
  background: #eeeeee;
  padding: 10px 15px;
  border-radius: 10px;
}

ion-button {
  border-radius: 10px;
  width: 90%;
  margin-left: 5%;
}

ion-text {
  text-align: center;
}

ion-list {
  border-radius: 10px;
  width: 90%;
  margin: auto;
}

.grande {
  font-size: 2rem;
  font-weight: 200;
  margin-top: 15px;
}

.subgrande {
  font-size: 1.7rem;
  font-weight: 800;
}

.alert-wrapper .sc-ion-alert-ios{
  width: 10px !important;
}