ion-tab-bar {
  background: rgba(230, 184, 184, 0);
  box-shadow: 3px -1px 5px 0px rgba(194,186,194,0.42);
  border-radius: 15px 15px 0px 0px ;
  .plus-btn {
    font-size: 4rem;
    
  }
}
ion-tabs{
  background: rgba(230, 184, 184, 0);

}

.publi{
  min-height: 60px;
  background: rgb(230, 184, 184);
}